<template>
	
	<lightning-card title="Images">
		<div class="slds-card__body_inner">
			<template if:true={images.data}>
				<lightning-input type="search"
					onchange={handleSearchTermChange}
					variant="label-hidden"
					class="slds-m-bottom_small"
					label="Search"
					placeholder="Search for images"
					value={searchTerm}>
				</lightning-input>
				<lightning-layout multiple-rows="true" pull-to-boundary="small">
					<template for:each={images.data} for:item="image">
						<lightning-layout-item key={image.Id} size="3" class="slds-p-around_x-small">
							<lightning-card title={image.Id__c} class="image-tile">
								<div class="slds-p-horizontal_small">
									<div class="slds-media">
										<div class="slds-media__body">
											<p class="slds-m-bottom_xx-small"><b>Title:</b> {image.Title__c}</p>
											<img src={image.ThumbnailUrl__c} alt="Image">
										</div>
									</div>
								</div>
							</lightning-card>
							<lightning-button name="delete" label="delete" onclick={deleteImage__c} data-recordid={image.Id}></lightning-button>
						</lightning-layout-item>
					</template>
				</lightning-layout>
			<template if:false={hasResults}>
				<div class="slds-align_absolute-center slds-m-vertical_small">
						No results...
				</div>
			</template>
			</template>
			<template if:true={images.error}>
				<div class="slds-text-color_error">
					An error occurred while loading the image list
				</div>
			</template>
        </div>
	</lightning-card>
</template>

